<ion-view view-title="Online Store">
  <ion-content class="padding">
    <h3>Welcome to Online Store</h3>
    <div class="list" ng-controller="ProductType as type">
		<label class="item item-input item-select" ng-controller="ProductType">
			<div class="input-label">
			  Select type of product
			</div>
			<select ng-model="mySelect" ng-change="showSelectValue(mySelect)">
			  <option selected>Food</option>
			  <option>Cleaning</option>
			  <option>Electronics</option>
			</select>
		</label>
		<p ng-repeat="product in type.products">
			{{product.name}}
			<em class="pull-right">${{product.price}}</em>
		</p>
	</div>
	
  </ion-content>
</ion-view>
