<ion-view view-title="Online Store">
  <ion-content class="padding">
    <h3>Welcome to Online Store</h3>
    <div class="list">
		<label class="item item-input item-select" ng-controller="ProductType">
			<div class="input-label">
			  Select type of product
			</div>
			<select ng-model="mySelect" ng-change="showSelectValue(mySelect)">
			  <option selected>Food</option>
			  <option>Cleaning</option>
			  <option>Electronics</option>
			</select>
		</label>
		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash/{{chat.id}}">
			<img ng-src="{{chat.face}}">
			<h2>{{chat.name}}</h2>
			<p>{{chat.lastText}}</p>
			<i class="icon ion-chevron-right icon-accessory"></i>

			<ion-option-button class="button-assertive" ng-click="remove(chat)">
			  Delete
			</ion-option-button>
		</ion-item>
	</div>
  </ion-content>
</ion-view>
